accelerate
torchvision==0.29.0a0
mup
pre-commit>=3.2.0
pytest>=7.2.0,<8.4.0
pytest-forked
pytest-randomly
pytest-xdist
transformers>=4.51.3

# pip install -e .[win-dev,autotuning] --pre --no-build-isolation --extra-index-url https://download.pytorch.org/whl/cpu